#app {
  background-color: #f76;
  background-image:
    linear-gradient(30deg, #fee 13.5%, transparent 13.5%, transparent 86.5%, #fee 86.5%),
        linear-gradient(-30deg, #fee 13.5%, transparent 13.5%, transparent 86.5%, #fee 86.5%),
        linear-gradient(30deg, #dcc 13.5%, transparent 13.5%, transparent 86.5%, #dcc 86.5%),
        linear-gradient(-30deg, #dcc 13.5%, transparent 13.5%, transparent 86.5%, #dcc 86.5%),
        linear-gradient(30deg, #fee 13.5%, transparent 13.5%, transparent 86.5%, #fee 86.5%),
        linear-gradient(-30deg, #fee 13.5%, transparent 13.5%, transparent 86.5%, #fee 86.5%),
        linear-gradient(30deg, #dcc 13.5%, transparent 13.5%, transparent 86.5%, #dcc 86.5%),
        linear-gradient(-30deg, #dcc 13.5%, transparent 13.5%, transparent 86.5%, #dcc 86.5%),
        linear-gradient(45deg, #544 25%, transparent 25%, transparent 75%, #544 75%),
        linear-gradient(45deg, #544 25%, transparent 25%, transparent 75%, #544 75%);
    background-position:
        0em 2em,
        0em 2em,
        2em 4em,
        2em 4em,
        4em 2em,
        4em 2em,
        6em 4em,
        6em 4em,
        0em 0em,
        2em 2em;
    background-size:
        8em 4em,
        8em 4em,
        8em 4em,
        8em 4em,
        8em 4em,
        8em 4em,
        8em 4em,
        8em 4em,
        4em 4em,
        4em 4em;
    margin-left: 50px;
    font-family: Courier;
    font-size: 5ex;
}