<div id="app">
  <div id="left"></div>
  <!-- <search post-q="$ctrl.postQ(query)"/> -->
  Get a recommendation: <br>
  (brought to you by goodreads)
  <br>Search:<br>
  <input ng-model="query" type="text" class="query"/>
  <button ng-click="$ctrl.postQ(query)">Submit</button><br>
  <button ng-click="$ctrl.makeWiseSelections()">Suggest a Good Book for Me</button>
  <br>

  <h3><u><b>Recommended Books</b></u></h3>
  <ol>
    <li ng-repeat="book in $ctrl.items">
      <br>Title: {{book.title}}
      <br>Author: {{book.author}}
      <br>
    </li>
  </ol>
  <!-- <list items="$ctrl.items"></list> -->
</div>