<div>
  <!-- <search post-q="$ctrl.postQ(query)"/> -->
  Get a recommendation: <br>
   Search (brought to you by <a href="https://www.goodreads.com" target="_blank">goodreads</a>):
  <br>
  <input ng-model="query" type="text" class="query"/>
  <button ng-click="$ctrl.postQ(query); $ctrl.input=''">Submit</button><br><br>
  <h3><u><b>Recommended Books</b></u></h3>
  <ol>
    <li ng-repeat="book in $ctrl.items">
      <br>Title: {{book.title}}
      <br>Author: {{book.author}}
      <br>
    </li>
  </ol>
  <!-- <list items="$ctrl.items"></list> -->
</div>